/Hmwk/Assignment_6/Gaddis_9thEd_Chap15_Prob1_EmployeeProductionWorker/build/
/Hmwk/Assignment_6/Gaddis_9thEd_Chap15_Prob1_EmployeeProductionWorker/dist/
/Hmwk/Assignment_6/Gaddis_9thEd_Chap15_Prob4_TimeFormat/dist/
/Hmwk/Assignment_6/Gaddis_9thEd_Chap15_Prob4_TimeFormat/build/
/Hmwk/Assignment_6/Gaddis_9thEd_Chap15_Prob6_Essay/build/
/Hmwk/Assignment_6/Gaddis_9thEd_Chap15_Prob6_Essay/dist/